.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 15rem;
    height: 18rem;

    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.name{
    width: 100%;
    background-color: #FCA5A5;
}