.image{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 12rem;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.container:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.hoverName{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: transparent;
}
.hoverName:hover{
    color: #F87171;
    -webkit-text-stroke: 0.07rem rgb(0, 0, 0);
    /* background: rgba(248, 113, 113, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    transition: all 0.2s ease-in-out;
}

.name{
    font-size: 2rem;

    /* font-weight: 900; */
}