.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 100%;
    flex-wrap: wrap;
    transition: all 0.2s ease-in-out;
}