.card{
    box-sizing: border-box;
    
    position: relative;
    width: 237px;
    height: 338px;
    
    /* border: 2px solid #FEE2E2; */

}

.image{
    position: absolute;
    width: 237px;
    height: 337px;
    left: 2px;
    top: -2px;
    opacity: 0.7;
}
